language: php

branches:
  only:
    - master

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2

before_script:
  - composer install

script:
 - ./vendor/bin/codecept run --coverage-xml

after_script:
  - ./vendor/bin/coveralls
