{
  "timeout": 10,
  "source": {
    "directories": [
      "src"
    ]
  },
  "logs": {
    "html": "tests/_output/infection/infection.html",
    "text": "tests/_output/infection/infection.log",
    "summary": "tests/_output/infection/summary.log",
    "perMutator": "tests/_output/infection/per-mutator.md",
    "stryker": {
      "report": "main"
    }
  },
  "tmpDir": "tests/_output/tmp",
  "mutators": {
    "@default": true,
    "@function_signature": false
  },
  "testFramework": "codeception",
  "testFrameworkOptions": "acceptance"
}
